__pycache__/
source/__pycache__/
venv/
bot.log
wallet.log
.DS_Store
.venv/
.env
log.log
wallet_tracking.log
wallet_tracking.2024-10-01_11-21-54_718878.log.zip
wallet_tracking.2024-10-02_11-43-19_385480.log.zip
